@import '../themes/theme-main-colors';

.taskapp {
  color: $appFontColor;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  width: 100%;
}

.add-task {
  label {
    font-size: 15px;
    padding-right: 3px;
  }
}

.task-list {
  list-style-type: none;
}

.new-task {
  padding-left: 3px;
}

.btn-new-task {
  @extend .btn-green;
}

.btn-green {
  color: white;
  background: $mainColor;
  border: 1px solid $mainColor;
  margin: 5px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  border-radius: 2px;
}
